.Page {
    display: table;
    width: 1130px;
    margin: 0 auto 0;
}

.inLine {
    display: inline-block;
}

.left {
    float: left;
}

.right{
    float: right;
}

a {
    text-decoration: none;
}


body {
    margin: 0;
}

.Header {
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.TopBar {
    min-height: 56px;
}

.TopBarUl {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.OnlineTours {

}

.OnlineTours button{
    background-color: white;
    border: none;
}

.OnlineTours button:hover {
    cursor: pointer;
}

.TopBarButtons {

}

.TopBarButtonOptions {
    height: 56px;
    display: table-cell;
    vertical-align: middle;
}

.TopBarButtonOptions button:hover {
    cursor: pointer;
}

.TopBarButtons button {
    color: black;
    font-size: 15px;
    font-weight: 500;
    background-color: white;
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 0 5px;
    margin: 0 5px;

}

.TopBarButtons button:hover {
    border-bottom: 1px solid black;
}

.TopBarButtons button:focus {
    color: orange;
    border:  none;
}

.City {
    border: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 0 8px;
}

.City button{
    background-color: white;
    border: none;
}


.TopBarNumbers {
    min-width: 400px;
    text-align: center;
}

.TopBarNumbers button {
    background-color: white;
    border: none;
    font-weight: 700;
    color: black;
    font-size: 18px;
}

.TopBarNumbers a {
    font-size: 15px;
    color: gray;
}

.TopBarLogin {
    border-right: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.TopBarLogin button {
    background-color: white;
    border: none;
    padding: 0 15px;
}

.Main {
    background-color: #f5f6f9;
    margin-top: 60px;
}

.HistoryText {
    padding: 30px 0;
}

.HistoryText {
    color: #82848d;
}


.HistoryText .ButtonText:hover {
    cursor: pointer;
    color: #82848d;
    text-decoration: underline;
}

.MainInformation {
    display: flex;
}

.Info {
    min-width: 700px;
    margin-right: 30px;
}

.Visa {
    font-size: 17px;
    font-weight: 700;
    color: white;
    background-color: orange;
    padding: 5px 10px;
    border-radius: 30px;
    max-width: 180px;
}

.Visa img {
    vertical-align:middle;
}

.Stars {
    margin: 10px 0;
}

.Name {
    color: black;
    font-size: 45px;
    font-weight: 700;
}

.DopInfo {
    color: black;
    font-size: 20px;
    font-weight: 500;
}

.Address {
    margin: 10px 0;
}

.Address a {
    color: #82848d;
    font-size: 15px;
}

.Address button {
    background-color: #f5f6f9;
    border: none;
    font-size: 15px;
}

.Address button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.Rating {
    align-self: center;
    display: flex;
}

.Grade {
    color: white;
    font-size: 25px;
    background-color: #ffc90a;
    padding: 10px;
    border-radius: 18px;
    align-self: center;
}

.RatingText {
    max-width: 200px;
    padding: 20px;
}

.MoreInformation {
    display: flex;
}

.Photos {
    width: 700px;
    margin-right: 30px;
}

.MainPhoto {
    margin-bottom: 10px;
}

.MainPhoto img {
    border-radius: 10px;
    min-width: 100%;
}

.ChosePhotos {
    width: 700px;
}

.OnePhoto {
    display: inline-block;
    width: 23%;
    margin-right: 5px;
}

.OnePhoto img{
    border-radius: 10px;
    width: 100%;
    max-height: 90px;
}

.PhotoInformation {
    min-width: 400px;

}

.Smalls {
    display: flex;
    margin-bottom: 10px;
}

.SmallBlock {
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 30px 15px;
    display: inline-block;
}

.sec {
    margin-left: 10px;
}

.SmallBlockImage img{
    max-width: 40px;
    max-height: 40px;
}

.SmallBlockText {
    margin-top: 30px;
    font-size: 18px;
}


.LineWithButtons {
    margin-top: 50px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.OneButton {
    margin-right: 5px;
}

.OneButton button{
    background-color: #f5f6f9;
    padding: 10px 15px;
    font-size: 15px;
    border: 2px solid #f5f6f9;
    border-radius: 20px;
}

.OneButton button:hover{
    border: 2px solid gray;
    cursor: pointer;
}

.MoreButton button{
    background-color: #828282;
    border: #828282;
    border-radius: 20px;
    padding: 8px 20px 10px 20px;
    color: white;
    font-size: 25px;
}

.MoreButton button:hover {
    cursor: pointer;
    background-color: #e2963c;
}

.Tours {
    margin-top: 50px;
}

.ToursText {
    color: black;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
}

.Flight {
    background-color: #5b66f7;
    color: white;
    font-size: 20px;
    width: 250px;
    padding: 20px 15px 40px 15px;
    border-radius: 30px 30px 0 0;
    display: flex;
}

.Flight img{
    margin: -5px 10px 0 0;
}

.ChoseTime {
    background-color: white;
    border-radius: 30px;
    position: relative;
    margin-top: -30px;
    padding: 30px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.WhereTime {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.OneWhere {
    display: inline-block;
}

.Chose {
    margin: 10px 10px 10px -20px;
}

.ChoseCity {
    margin-left: -20px;
    margin-right: 100px;
}

.ChoseCity input {
    max-width: 160px;
}

.Chose input{
    background-color: #f5f6f9;
    padding: 15px 20px;
    border: 1px solid #f5f6f9;
    border-right: none;
    border-radius: 30px 0 0 30px;
    font-size: 20px;
}

.Chose input:focus {
    border: 1px solid lightgray;
    border-right: none;
    outline: none;
}

.Chose button{
    background-color: #f5f6f9;
    padding: 15px 20px;
    border: 1px solid #f5f6f9;
    border-radius: 0 30px 30px 0;
    font-size: 20px;
    position: absolute;

}

.Chose button:hover{
    cursor: pointer;
}

.DopCity {
    font-size: 14px;
    color: gray;
}

.DopCity a {
    margin-right: 10px;
}

.DopCity a:hover {
    text-decoration: underline;
}

.ChoseDate {
    margin-right: 100px;
}

.ChoseDate input{
    max-width: 100px;
}

.ChoseTurists input{
    max-width: 120px;
}

.FindTours button{
    background-color: #fd9c28;
    border: none;
    border-radius: 25px;
    padding: 20px 20px;
    color: white;
    font-size: 15px;
    margin: 30px 0 0 50px;
}

.Advertising {
    margin-top: 50px;
}

.Advertising button{
    cursor: pointer;
    border: none;
    background-color: #f5f6f9;
}

.WhenTime {
    margin-top: 30px;
}

.WhenTime ul {
    text-align: center;
}

.OneDate {
    padding: 15px;
    text-align: center;
}

.OneDate:hover {
    cursor: pointer;
    color: #fd9c28;
}


.DateTime {
    font-size: 18px;
    font-weight: 600;
    padding: 5px 0;
}

.PriceTime {

}

.Advertising button img{
    width: 1130px;
}

.Rooms {
    margin-top: 20px;
}

.OneRoom {
    background-color: white;
    padding: 15px 30px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.NameRoom {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.Room {
    display: flex;
}

.InRoom {
    background-color: #f5f6f9;
    margin-right: 20px;
    font-size: 20px;
    padding: 15px;
    border-radius: 30px;
}

.InRoom {
    flex: 1;
}

.OneInRoom {
    display: inline-block;
}

.OneInRoom img {
    vertical-align:middle;
}


.BuyRoom {
    display: flex;
    float: right;
}

.BuyRoom button {
    border-radius: 20px;
    padding: 13px 70px;
    border: none;
    background-color: #fd9c28;
    color: white;
}

.BuyRoom button:hover {
    cursor: pointer;
    background-color: #ff8b00;
}

.PriceRoom {
    font-size: 20px;
    font-weight: 700;
}

.PeoplesInRoom {
    font-size: 15px;
}

.DateRoom {
    font-size: 18px;
}

.DateRoom td {
    color: gray;

    padding-right: 10px;
}

.DateRoom th {
    color: black;
    font-weight: 500;
    padding-right: 40px;
}

.MoreRoomsButton {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.MoreRoomsButton button {
    font-size: 15px;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
}

.MoreRoomsButton button:hover {
    cursor: pointer;
    background-color: #e5e5e5;
    border: 1px solid #e5e5e5;
}
